/*!**************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/pages/tribute_page/tribute_page.styles.scss ***!
  \**************************************************************************************************************************************************************************************************/
/**
/* Make all elements from DOM inherit from parent box-sizing
/* Since `*` has a specificity of 0, it does not override the `html` value making all elements inheriting frm the root box-sizing value
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
* Setup the box model on the root level
*/
html {
  box-sizing: border-box;
  font-size: 50%;
  /**
  * 1. Correct the line height in all browsers.
  * 2. Prevent adjustments of font size after orientation changes in iOS.
  */
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
@media only screen and (min-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (min-width: 63.125em) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (min-width: 75.0625em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7rem;
  color: #1f1f1f;
  padding: 0;
}

main {
  /**
   * Render the `main` element consistently in IE.
   */
  display: block;
}

hr {
  /**
  * 1. Add the correct box sizing in Firefox.
  * 2. Show the overflow in Edge and IE.
  */
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  /**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  /**
  * Remove the gray background on active links in IE 10.
  */
  background-color: transparent;
}

abbr[title] {
  /**
  * 1. Remove the bottom border in Chrome 57-
  * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  */
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  /**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */
  font-weight: bolder;
}

code,
kbd,
samp {
  /**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  /**
  * Add the correct font size in all browsers.
  */
  font-size: 80%;
}

sub,
sup {
  /**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  /**
  * Remove the border on images inside links in IE 10.
  */
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  /**
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
  */
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
  /* 1 */
  overflow: visible;
}

button,
select {
  /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
  * Correct the inability to style clickable types in iOS and Safari.
  */
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  /**
  * Remove the inner border and padding in Firefox.
  */
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  /**
  * Restore the focus styles unset by the previous rule.
  */
  outline: 1px dotted ButtonText;
}

fieldset {
  /**
  * Correct the padding in Firefox.
  */
  padding: 0.35em 0.75em 0.625em;
}

legend {
  /**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  /**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */
  vertical-align: baseline;
}

textarea {
  /**
  * Remove the default vertical scrollbar in IE 10+.
  */
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  /**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  /**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */
  height: auto;
}

[type=search] {
  /**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  /**
  * Remove the inner padding in Chrome and Safari on macOS.
  */
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  /**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  /**
  * Add the correct display in Edge, IE 10+, and Firefox.
  */
  display: block;
}

summary {
  /*
  * Add the correct display in all browsers.
  */
  display: list-item;
}

template {
  /**
  * Add the correct display in IE 10+.
  */
  display: none;
}

[hidden] {
  /**
  * Add the correct display in IE 10.
  */
  display: none;
}

body {
  color: #1f1f1f;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 2.8rem;
  line-height: 3.3rem;
}
@media only screen and (min-width: 56.25em) {
  h1 {
    font-size: 4rem;
    line-height: 4.1rem;
  }
}
@media only screen and (min-width: 63.125em) {
  h1 {
    font-size: 4.8rem;
    line-height: 4.9rem;
  }
}
@media only screen and (min-width: 63.125em) {
  h1 span + span {
    font-size: 2.8rem;
    line-height: 2.9rem;
  }
}

a {
  color: #60a9ff;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #1f1f1f;
  text-decoration: underline;
}

.navigation__base {
  display: flex;
}
.navigation__list {
  display: none;
  list-style: none;
}
@media only screen and (min-width: 56.25em) {
  .navigation__list {
    display: flex;
    flex-direction: row;
  }
}
.figure__base {
  max-width: 900px;
  margin: 0;
}
.figure__image {
  max-width: 100%;
  display: block;
}
.figure__caption {
  color: red;
}

.admin-bar__base {
  position: fixed;
  top: 0;
  height: 71px;
  padding-left: 72px;
  background-color: black;
  width: 100%;
}
.admin-bar__description {
  display: flex;
  flex-direction: column;
}
.admin-bar__description span {
  display: block;
  color: white;
}
/*!**************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/ui_ux/layout/header/header.scss ***!
  \**************************************************************************************************************************************************************************************/
.header__base {
  margin-top: 7.2rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__title, .header__subtitle {
  display: block;
  text-align: center;
}
.header__subtitle {
  padding: 0 2.4rem;
  display: none;
}
@media only screen and (min-width: 63.125em) {
  .header__subtitle {
    display: inline-block;
  }
}
.header__logo {
  display: flex;
  height: fit-content;
  padding: 1.2rem;
}
.header__logo-img {
  display: block;
  width: 50px;
}
