@import '../../ui_ux/main.scss';

// TODO merge together pages with thames where possible using css variables;
@import '../../ui_ux/pages/basepage/basepage.scss';
@import '../../ui_ux/themes/basepage.scss';

// @import NON JS Components
@import '../../ui_ux/layout/main/main.scss';
@import '../../ui_ux/layout/article/article.scss';
@import '../../ui_ux/layout/footer/footer.scss';

@import '../../ui_ux/components/figure/figure.scss';
@import '../../ui_ux/components/admin-bar/admin-bar.scss';