@import '../../ui_ux/main.scss';

@import '../../ui_ux/pages/basepage.scss';

// @import NON JS Components
@import '../../ui_ux/layout/main/main.scss';
@import '../../ui_ux/layout/article/article.scss';
@import '../../ui_ux/layout/footer/footer.scss';

@import '../../ui_ux/components/figure/figure.scss';
@import '../../ui_ux/components/admin-bar/admin-bar.scss';