@import './media-queries';
@import './mixins.scss';
// SCSS Variables

// BASE size
$baseline: 8px;

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

// colors
$c-white:                         #fff;
$c-cultured:                      #eeeeee;
$c-lightgrey:                     $light-grey;
$c-pumice:                        $c-cultured;
$c-mid-grey:                      $mid-grey;
$c-quick-silver:                  $c-mid-grey;
$c-dark-grey:                     $dark-grey;
$c-davys-grey:                    $c-dark-grey;
$c-black:                         #000;

