@import "../../abstracts/abstracts.scss";

$block: "icon-list";

.#{$block} {
  @include e('base') {
    margin-top: 3rem;

    .card__base & {
      @include flex();
      gap: 2rem;
    }


    .form__base &,
    .footer__base &,
    .navigation__base & {
      display: grid;
      justify-content: flex-start;
      grid-template-columns: repeat(4, 5rem);
      row-gap: 3rem;
      column-gap: 3rem;
    }
  }

  @include e('item') {

  }

  @include e('link') {
    @include flex();
    @include relative();

    border-radius: 50%;
    cursor: pointer;
    transition: all .15s ease;
    color: $c-cultured;
    text-decoration: none;

    @include on-event {
      color: $c-cultured;
      text-decoration: none;
    }
  }

  @include e('icon') {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  @include e('tooltip') {
    @include absolute($top:0, $left: 50%, $z-index: tooltip);

    padding: .8rem 1rem;
    border-radius: 4rem;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
    display: block;
    width: 300%;
    text-align: center;

    &:after {
      @include absolute($bottom: 1px, $left: 50%);

      display: block;
      width: 0;
      height: 0;
      content: '';
      border: solid;
      border-width: 1rem 1rem 0 1rem;
      border-color: transparent;
      transform: translate(-50%, 100%);
    }

    .#{$block}__link:hover & {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -100%);
    }
  }
}