@import "../../abstracts/abstracts.scss";

$block: "form";

.#{$block} {
  @include e('base') {
    background-color: #bc8882;
    width: 100%;
    color: $c-cultured;
    padding: 3rem 0 4rem;

    > * {
      max-width: $max-width;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include e('heading') {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    grid-column: span 2;
  }

  @include e('container') {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 3rem;
  }

  @include e('element') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 6rem 0;
    padding: 4rem 0;
    border-radius: 0.25rem;
    width: 80%;
  }

  @include e('label') {
    @include flex($cross: flex-start, $direction: column);

    width: 100%;
  }

  @include e('label-span') {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
  }

  @include e('input') {
    margin-top: 1rem;
    width: 75%;
    border-radius: .5rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.4);
    color: $c-cultured;
    font-size: 1.4rem;
  }

  @include e('textarea') {
    grid-column: span 2;
    margin-top: 2rem;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.4);
    color: $c-cultured;
    font-size: 1.4rem;
  }

  @include e('submit') {
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.4);
    color: $c-cultured;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2rem;
    font-weight: bold;
  }

  @include e('details') {
    @include flex($direction: column);
  
    border-left:solid 2px rgba(0,0,0,0.125);
  }
}