@import "../../abstracts/abstracts.scss";

$block: "form";

.#{$block} {
  @include e('base') {
    background-color: rgb(182, 107, 79);
    width: 100%;
    color: $c-cultured;
    padding: 3rem 4rem;

    > * {
      max-width: $max-width;
    }
  }

  @include e('container') {
    @include flex($direction: column);

    background-color: rgba(255, 255, 255, 0.253);
    margin: 6rem auto;
    padding: 4rem 0;
    border-radius: 0.25rem;
    border: solid 1px rgba(255, 255, 255, 0.15);
  }
}