@import "../../abstracts/abstracts.scss";

$layout-cmp: "navigation";

.#{$layout-cmp} {
  &__base {
    display: flex;
  }

  &__list {
    display: none;
    list-style: none;

    @include respond(min-tab-port) {
      display: flex;
      flex-direction: row;
    }
  }

  &__list-item {
  }
}
