@import "../../abstracts/abstracts.scss";

$block: "navigation";

.#{$block} {
  @include e('base') {
    @include fixed($top: 0, $right: -80%, $z-index:navigation__base);
    @include flex($cross: flex-end, $direction: column);

    height: 100%;
    -webkit-overflow-scrolling: touch;
    transition: all $ease-in-out-6;
    width: 80%;

    @include respond(min-tab-port) {
      @include fixed($top: 0, $right: -50%, $z-index:navigation__base);
      width: 50%;
    }

    body.is-navigation-visible & {
        right: 0;

      ~ * {
        transition: filter .3s;
        filter: blur(10px);
      }
    }
  }

  @include e('container') {
    @include relative();

    width: 100%;
    padding-left: 0;
    transition: opacity $ease-in-out-6, padding $ease-in-out-6;
    height: 100%;
    background-color: var(--overlaid-background-color);


    body.is-navigation-visible & {
      opacity: 1;
      padding-left: 5rem;

      @include respond(min-tab-port) {
        padding-left: 10rem;
      }
    }
  }

  @include e('heading', 'list') {
    color: var(--overlaid-text-color);
  }

  @include e('heading') {
    margin-top: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 3rem;
    opacity: 0;
    transition: opacity .3s ease;

    body.is-navigation-visible & {
      opacity: 1;
    }
  }

  @include e('list') {
    @include flex($main: flex-start, $cross: flex-start, $direction: column);

    list-style: none;
    opacity: 0;
    font-size: 2.4rem;
    margin-top: 1.5rem;
    padding-right: 9rem;

    body.is-navigation-visible & {
      opacity: 1;
    }
  }

  @include e('list-item') {
    width: 100%;

    &:not(:last-child) {
      border-bottom: var(--navigation-border-bottom);
    }
  }

  @include e('link') {
    &,
    &:link,
    &:visited,
    &:active,
    &:focus {
      color: var(--overlaid-text-color);
      padding: 3.5rem 0;
      display: block;
      font-weight: lighter;
      letter-spacing: 0.3rem;
    }

    &:hover {
      text-decoration: none;
    }

    .#{$block}__list-item:hover & {
      color: rgb(255, 176, 147);
    }
  }


  @include e('toggle') {
    @include absolute($top: 3rem, $left: -8rem);

    display: block;
    color: #fff;
    cursor: pointer;
    transition: all 0.3sls;
    outline: none;
    padding: 2rem;
    border-radius: 50%;
    transition: background-color .3s ease-in;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    html:not([data-scroll='0']) & {
      background-color: rgba(255, 255, 255, 0.2);
    }

    @include respond(min-tab-port) {
      @include absolute($top: 3rem, $left: -12rem);
    }

    &::selection {
      background-color: transparent;
    }
  }

  @include e('toggle-line-1', 'toggle-line-2', 'toggle-line-3' ) {
    @include relative();

    background-color: #fff;
    width: 3rem;
    height: 3px;
    display: block;
    opacity: 1;
    border-radius: 15%;
    transition: all 0.3s;
  }

  @include e('toggle-line-2', 'toggle-line-3' ) {
    margin-top: 8px;
  }

  @include e('toggle-line-1') {
    body.is-navigation-visible & {
      @include relative($top: 5px);

      transform: rotate(270deg);
      opacity: 0;
    }
  }

  @include e('toggle-line-2')  {
    body.is-navigation-visible & {
      transform: rotate(45deg);
    }
  }

  @include e('toggle-line-3')  {
    body.is-navigation-visible &  {
      @include relative($top: -10px);

      transform: rotate(-45deg);
    }
  }
}

