@import "../../abstracts/abstracts.scss";

$layout-cmp: "navigation";

.#{$layout-cmp} {
  &__base {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: -80%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    z-index: 2;
    transition: all 0.6s ease-in-out;
    width: 100%;

    body.is-navigation-visible & {
        right: 0;

      > * {
        opacity: 1;
      }
    }
  }

  &__container {
    width: 80rem;
    max-width: 80%;
    padding-left: 0;
    transition: all 0.6s ease-in-out;
    height: 100%;
    background-color: rgb(73, 73, 73);
    position: relative;

    body.is-navigation-visible & {
      opacity: 1;
      padding-left: 5rem;

      @include respond(min-tab-port) {
        padding-left: 10rem;
      }
    }
  }

  &__heading,
  &__list {
    color: white;
  }

  &__heading {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 1rem;
    padding-top: 10rem;
    font-size: 3rem;
    opacity: 0;
    transition: opacity .3s ease;

    @include respond(min-tab-port) {
      display: none;
    }

    body.is-navigation-visible & {
      opacity: 1;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;

    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    font-size: 2.4rem;
    padding-top: 7rem;
    padding-right: 9rem;

    body.is-navigation-visible & {
      opacity: 1;
    }
  }

  &__list-item {
    width: 100%;

    &:not(:last-child) {
      border-bottom: solid 1px rgba(255, 255, 255, 0.4);
    }
  }

  &__link {
    &,
    &:link,
    &:visited,
    &:active,
    &:focus {
      color: $c-white;
      padding: 4rem 0;
      display: block;
      font-weight: lighter;
      letter-spacing: 0.3rem;
    }

    &:hover {
      text-decoration: none;
    }

    .navigation__list-item:hover & {
      color: rgb(255, 176, 147);
    }
  }


  &__toggle {
    display: block;
    position: absolute;
    margin-top: 1.5rem;
    left: -20%;
    top: 3rem;
    color: #fff;
    cursor: pointer;
    transition: background-position 0.3s;
    outline: none;

    @include respond(min-tab-port) {
      display: none;
    }

    &::selection {
      background-color: transparent;
    }
  }

  &__toggle-line-1,
  &__toggle-line-2,
  &__toggle-line-3 {
    background-color: #fff;
    width: 3rem;
    height: 3px;
    display: block;
    position: relative;
    opacity: 1;
    border-radius: 15%;
    transition: all 0.3s;
  }

  &__toggle-line-2,
  &__toggle-line-3 {
    margin-top: 8px;
  }

  &__toggle-line-1 {
   body.is-navigation-visible & {
      transform: rotate(270deg);
      opacity: 0;
      top: 5px;
    }
  }

  &__toggle-line-2 {
    body.is-navigation-visible & {
      transform: rotate(45deg);
    }
  }

  &__toggle-line-3 {
    body.is-navigation-visible &  {
      transform: rotate(-45deg);
      top: -10px;
    }
  }
}

