// ---------------
// Basic styles
// -----------------

/**
* Seup the box model on the root level
*/

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px/16px = 62.5%
}

/**
/* Make all elements from DOM inherit from parent box-sizing
/* Since `*` has a specificity of 0, it does not verride the `html` value making all elements inheriting frm the root box-sizing value
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}
