@import '../abstracts/variables.scss';

body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

// Typography rules
h1 {
  font-size: 2.8rem;
  line-height: 3.3rem;

  @media (min-width: $tablet-min) {
    font-size: 4rem;
    line-height: 4.1rem;
  }

  @media (min-width: $desktop-min) {
    font-size: 4.8rem;
    line-height: 4.9rem;
  }

  span + span {  
    @media (min-width: $desktop-min) {
      font-size: 2.8rem;
      line-height: 2.9rem;
    }
  }
}

a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}
