@import '../abstracts/abstracts.scss';

body {
  color: var(--text-color);
  font-family: $text-font-stack;
  font-weight: normal;
}

// Typography rules
h1 {
  font-size: 2.8rem;
  line-height: 3.3rem;


  @include respond(min-tab-port) {
    font-size: 4rem;
    line-height: 4.1rem;
  }

  @include respond(min-desktop) {
    font-size: 4.8rem;
    line-height: 4.9rem;
  }
}

h2 {
  margin-top: $basesize * 2;
  font-size: 2.2rem;
  line-height: 3rem;

  @include respond(min-tab-port) {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }

  @include respond(min-desktop) {
    font-size: 2.6rem;
    line-height: 2.8rem;
  }
}

h3 {
  margin-top: 1.6rem;
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-weight: normal;

  @include respond(min-tab-port) {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }

  @include respond(min-desktop) {
    font-size: 2.6rem;
    line-height: 2.8rem;
  }
}

a {
  color: var(--text-color);
  text-decoration: none;

  @include on-event {
    color: var(--text-color);
    text-decoration: underline;
  }
}

p {
  margin-top: $basesize;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
