@import "../../abstracts/abstracts.scss";

$cmp: "admin-bar";

.#{$cmp} {
  &__base {
    position: fixed;
    top: 0;
    height: 71px;
    padding-left: 72px;
    background-color: black;
    width: 100%;
  }

  &__description {
    display: flex;
    flex-direction: column;

    span {
      display: block;
      color: white;
    }
  }
}
