@import "../../abstracts/abstracts.scss";

$cmp: "admin-bar";

.#{$cmp} {
  &__base {
    position: fixed;
    top: 0;
    left: 0;
    height: $basesize * 8;
    padding: 0 7rem;
    background-color: $color-secondary;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-items: center;

    span {
      display: block;
      color: $admin-text-color;
      font-size: 1.6rem;
    }
  }

  &__logo {
    display: block;
    height: 6em;
    width: 6rem;
    fill: $admin-text-color;
  }
}
