@import "../../abstracts/abstracts.scss";

  %card {
    @include absCenter($left: 0, $top: 0, $translated: false);

    transition: all 0.8s ease;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($c-black, .15);
    border-radius: 0.25rem;
    border: solid 1px rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.05);
    padding: 2.5rem;
    height: 100%;


    @include respond(touch-phone-only) {
      height: auto;
      position: relative;
      box-shadow: none;
    }
  }

$block: "gallery";

.#{$block} {
  @include e('base') {
    @include flex($direction: column);

    width: 100%;
    background-color: rgb(127, 172, 144);
    color: $c-cultured;
    padding: 6rem 3rem 4rem;

    > * {
      max-width: $max-width;
    }
  }

  @include e('heading') {
    margin-top: 0;
    border-bottom: solid 2px rgba(0, 0, 0, 0.125);
    padding: 2rem 0rem;
    width: 100%;
    text-align: center;

    span{
      text-transform: uppercase;
      letter-spacing: 1rem;
      font-sizing: 3.5rem;
    }
  }

  @include e('list') {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
    margin-top: 6rem;
    padding: 3rem;
    width: 100%;

    @include respond(min-mobile) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(min-tab-port) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 6rem;
      row-gap: 6rem;
    }
  }

  @include e('list-item') {
    transition: all 0.3s;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;

    &:hover,
    &.#{$block}__list-item--showBack {
      .#{$block}__card-front {
        transform: rotateY(-180deg);
  
        @include respond(touch-phone-only) {
          transform: rotateY(0);
        }
      }

      .#{$block}__card-back {
        transform: rotateY(0deg);
      }
    }
  }

  @include e('card-front') {
    @extend %card;
  }

  @include e('card-back') {
    @extend %card;

    transform: rotateY(180deg);

    @include respond(touch-phone-only) {
      transform: rotateY(0);
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    }
  }

  @include e('image-wrapper') {
    @include aspect-ratio(16, 9, 'gallery__image');
  }

  @include e('image') {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include e('project-heading') {
    @include flex($direction: column);
    
    span {
      display: block;

      &:last-child {
        margin-top: 1.5rem;
        font-weight: 100;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }

  @include e('project-title') {
    text-align: center;
    font-size: 3rem;
  }

  @include e('tech-list') {
    @include flex();

    margin-top: 3rem;
  }

  @include e('tech-item-wrapper') {
    &:not(:first-child) {
      margin-left: 1.5rem;
    }
  }

  @include e('tech-icon') {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

}