body {
  padding: 0;

  // Stops initial animations until page loads.
  &.is-preload {
    *, 
    *:before, 
    *:after {
      animation: none !important;
      transition: none !important;
    }
  }



  &.is-navigation-visible {
    overflow: hidden;
  }

  .header__base {
    margin-top: 0;
  }

  #welcome-section {
    height: 100vh;
  }
}
