@import './color-list.scss';

$color-primary: $c-baby-blue-eyes;
$color-primary-dark: $c-blue-crayola;

$color-secondary: $c-rich-black-FOGRA-29;



/// Main brand color
/// @type Color
$brand-color: $color-primary !default;

/// Copy text color
/// @type Color
$text-color: $c-eerie-black !default;

$admin-text-color: $c-cultured;

/// Background Color
/// @type Color
$color-background: $c-cultured !default;

