/// COLORS
$c-white:                         #fff;
$c-white-10:                      rgba($c-white, 0.1);
$c-white-40:                      rgba($c-white, 0.4);

$c-cultured:                      #eeeeee;
$c-pumice:                        $c-cultured;
$c-battleship-grey:               #888888;
$c-davys-grey:                    #494949;
$c-eerie-black:                   #1f1f1f;
$c-rich-black-FOGRA-29:           #101d2c;
$c-black:                         #000;

$c-black-30:                      rgba($c-black, 0.30);

$c-alice-blue:                    #e1f1ff;
$c-baby-blue-eyes:                #9dd1ff;
$c-french-sky-blue:               #60a9ff;
$c-blue-jeans:                    #48aaff;
$c-dodger-blue:                   #348efe;
$c-blue-crayola:                  #016ff9;

$c-rhythm:                        #7c7b9c;