/// COLORS
$c-white:                         #fff;
$c-cultured:                      #eeeeee;
$c-pumice:                        $c-cultured;
$c-battleship-grey:               #888888;
$c-eerie-black:                   #1f1f1f;
$c-rich-black-FOGRA-29:           #101d2c;
$c-black:                         #000;



$c-alice-blue:                    #e1f1ff;
$c-baby-blue-eyes:                #9dd1ff;
$c-french-sky-blue:               #60a9ff;
$c-blue-jeans:                    #48aaff;
$c-dodger-blue:                   #348efe;
$c-blue-crayola:                  #016ff9
