// sizes
$basesize: 0.8rem;                 // 8px

// font size
$default-font-size: 1.6rem;        //16px

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

$round-border: 5px;