@import '../../abstracts/abstracts.scss';

$cmp: 'figure';

.#{$cmp} {
  &__base {
    margin: 0;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    display: block;
    overflow: hidden;
  }

  &__caption {
    font-size: 1.6rem;
    text-align: center;
    padding-bottom: $basesize * 3;
    margin: $basesize * 3;
    border-bottom: 1px solid $c-eerie-black;
  }
}