$component: 'figure';

.#{$component} {
    &__base {
        max-width: 900px;
        margin: 0;
    }

    &__image {
        max-width: 100%;
        display: block;
    }

    &__caption {
        color: red;
    }
}