.personal-portfolio {
  .navigation__base {
    --navigation-top-position: 0;
    --navigation-position-tab: fixed;
    --background-color: white;
  }

  .header__base {
    --header-width: 100vw;
    --header-background-color: #7c7b9c;
  }
}