@import '../../abstracts/abstracts.scss';

$block: 'header';

.#{$block} {
  @include e('base') {
    margin-top: var(--header-margin-top);
    background-color: var(--header-background-color);
    overflow: hidden;
    // box-shadow: var(--header-box-shadow);
    width: var(--header-width);
    transition: filter $ease-in-out-6;
    height: var(--header-height);

    > svg {
      @include absolute();

      width: 100%;
      height : 100%;
      stroke: $c-white-10;
    }
  }

  @include e('container') {
    @include flex();

    padding: ($basesize * 2) 0;
    
    @include respond(min-tab-port) {
      padding-top: $basesize * 4;
      padding-right: $basesize * 4;
    }
  }

  @include e('heading') {
    padding: ($basesize * 2) $basesize;
  }

  @include e('title') {
    font-size: 3rem;
    line-height: 3.4rem;
    font-style: italic;
    font-family: $code-font-stack;
    display: block;
  
    @include respond(min-tab-port) {
      font-size: 3.4rem;
      line-height: 3.1rem;
    }
  
    @include respond(min-desktop) {
      font-size: 3.8rem;
      line-height: 3.9rem;
    }
  }

  @include e('title-description') {
    display: block;

    font-size: 1.6rem;
    line-height: 2rem;
    text-indent: 2rem;

    @include respond(min-tab-port) {
      font-size: 2rem;
      line-height: 2.2rem;
    }
  
    @include respond(min-desktop) {
      font-size: 2.2rem;
      line-height: 2.4rem;
    }
  }

  @include e('image-logo') {
    width: 100%;
    max-width: 100px;
    display: block;
    overflow: hidden;
    margin-right: 2.5rem;
  }
}