@import '../../abstracts/abstracts.scss';

$layout-cmp: 'header';

.#{$layout-cmp} {
  &__base {
    margin-top: $basesize * 12;
    background-color: rgba($c-eerie-black, 0.1);
    border-radius: $round-border;
    overflow: hidden;
    box-shadow: $box-shadow-dark;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: ($basesize * 2) ($basesize * 4);
  }

  &__heading {
    padding: ($basesize * 2) $basesize;
  }

  &__title {
    font-size: 2.2rem;
    line-height: 2.5rem;
    font-style: italic;
    font-family: $code-font-stack;
    display: block;
  
    @include respond(min-tab-port) {
      font-size: 3rem;
      line-height: 3.1rem;
    }
  
    @include respond(min-desktop) {
      font-size: 3.8rem;
      line-height: 3.9rem;
    }
  }

  &__title-description {
    display: block;

    font-size: 1.6rem;
    line-height: 2rem;
    text-indent: 2rem;

    @include respond(min-tab-port) {
      font-size: 2rem;
      line-height: 2.2rem;
    }
  
    @include respond(min-desktop) {
      font-size: 2.2rem;
      line-height: 2.4rem;
    }
  }

  &__image-logo {
    width: 100%;
    max-width: 100px;
    display: block;
    overflow: hidden;
  }
}