@import "../abstracts/abstracts.scss";

body {
  --body-padding: 0;
  --all-elements-width: 100%;
  --all-elements-max-width: $max-width;

  @include respond(min-tab-port) {
    --body-padding: $basesize * 3;
  }
}

.navigation__base {
  --navigation-top-position: 6.4rem;
  --navigation-position-tab: static;
  --background-color: rgba($c-eerie-black, 0.8);

  @include respond(min-tab-port) {
    --background-color: rgba($c-eerie-black, 0.1);
  }
}

.header__base {
  --header-background-color: rgba($c-eerie-black, 0.1);
  --header-width: auto;
  --header-height: auto;
  --header-margin-top: $basesize * 15;

  @include respond(min-tab-port) {
    --header-margin-top:$basesize * 12
  }
}


