@import '../abstracts/abstracts.scss';

body {
  --body-padding: 0;
  --all-elements-width: auto;
  --all-elements-max-width: auto;
  --text-color: #{$c-eerie-black};
  --background-color: #{$c-cultured};

  --overlaid-background-color: #{$c-davys-grey};
  --overlaid-text-color: #{$c-cultured};
}

.header__base {
  --header-width: 100vw;
  --header-background-color: #{$c-rhythm};
  --header-height: 100vh;
  --header-margin-top: 0;
  --header-box-shadow: #{$box-shadow-dark};
}

.navigation__base {
  --navigation-top-position: 0;
  --navigation-position-tab: fixed;
  --navigation-border-bottom: solid 1px #{$c-white-40}; 
}



