@import '../../abstracts/abstracts.scss';

$block: 'main';

.#{$block} {
  @include e('base'){
    @include flex($direction: column);

    width: 100vw;
    max-width: 100%;
    overflow: hidden;
  }
}