@import '../../abstracts/abstracts.scss';

$layout-cmp: 'main';

.#{$layout-cmp} {
  &__base {
    margin-top: $basesize * 3;
    border-radius: $round-border;
    overflow: hidden;
    background-color: rgba($c-eerie-black, 0.1);
    
    @include respond(min-tab-port) {
      box-shadow: $box-shadow-dark;
    }
  }
}