@import "../../abstracts/abstracts.scss";

$block: "services";

.#{$block} {
  @include e('base') {
    @include flex($direction: column);

    width: 100%;
    background-color: #8c748f;
    color: $c-cultured;
    padding: 6rem 0 4rem 0;
  }

  @include e('heading','container') {
    max-width: $max-width;
  }

  @include e('heading') {
    @include flex($direction: column);

    margin-top: 0;
    border-bottom: solid 2px rgba(0, 0, 0, 0.125);
    padding-bottom: 1rem;
    width: 100%;

    @include respond(min-tab-port) {
      grid-column: span 3;
    }

    span:first-child {
      text-transform: uppercase;
      letter-spacing: 1rem;
      font-sizing: 3.5rem;
    }

    span:last-child {
      font-weight: 100;
      font-size: 1.8rem;
    }
  }

  @include e('container') {
    display: grid;
    grid-template-columns: 1fr;
    

    @include respond(min-tab-port) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include e('section') {
    margin-top: 3.5rem;
    padding: 3rem;

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;

    border-radius: 0.25rem;
    border: solid 1px rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.05);

    &:not(:first-child) {
      margin-left: 2rem;
    }
  }

  @include e('icon') {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    stroke-width: 1px;
    stroke: currentColor;
    fill: currentColor;
  }

  @include e('section-title') {
    font-size: 1.6rem;
    padding-left: 2rem;
  }

  @include e('list') {
    margin-top: 1rem;
    grid-column: span 2;
  }

  @include e('list-item') {
    @include flex($cross: flex-start, $direction: column);

    p {
      font-size: 1.4rem;
      padding-left: 1.6rem;
    }
  }



  @include e('content') {
    width: 100%;
  }

  @include e('item-heading') {

    font-size: 1.4rem;
    margin-top: 2rem;
  }
}
