@import "../../abstracts/abstracts.scss";

$block: "services";

.#{$block} {
  @include e('base') {
    @include flex($direction: column);

    width: 100%;
    background-color: #8c748f;
    color: $c-cultured;
    padding: 6rem 3rem 4rem;

    > * {
      max-width: $max-width;
    }
  }

  @include e('heading') {
    margin-top: 0;
    border-bottom: solid 2px rgba(0, 0, 0, 0.125);
    padding: 2rem 0rem;
    width: 100%;
    text-align: center;

    span{
      text-transform: uppercase;
      letter-spacing: 1rem;
      font-sizing: 3.5rem;
    }
  }

  @include e('container') {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 3rem;
    column-gap: 6rem;
    row-gap: 6rem;
    margin-top: 3.5rem;

    @include respond(min-tab-port) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include e('section') {
    padding: 2.5rem;
    border-radius: 0.25rem;
    border: solid 1px rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 1.5rem 4rem rgba($c-black, 0.15);
    transition: all 0.3s;

    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }
  }

  @include e('icon-wrapper') {
    @include flex();
    
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 1rem auto;
    background-color: $c-cultured;
  }

  @include e('icon') {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    fill: #8c748f;
  }

  @include e('section-title') {
    font-size: 2.2rem;
    text-align: center;
  }

  @include e('list') {
    margin-top: 1.6rem;
    grid-column: span 2;
  }

  @include e('list-item') {
    @include flex($cross: flex-start, $direction: column);

    &:not(:first-child) {
      margin-top: 2rem;
    }

    p {
      font-size: 1.6rem;
      letter-spacing: 0.06rem;
      line-height: 2.5rem;
    }
  }

  @include e('item-heading') {

    font-size: 1.4rem;
    margin-top: 2rem;
  }
}
