@import "../../abstracts/abstracts.scss";

$block: "banner";

.#{$block} {
  @include e('base', 'container', 'heading') {
    @include flex($direction: column);
  }

  @include e('base') {
  cursor: default;
  height: 100vh;
  min-height: 35rem;
  overflow: hidden;
  position: relative;
  text-align: center;

    &:after {
      body.is-preload & {
        opacity: 1;
      }
    }
  }

  @include e('heading') {
    width:fit-content;
    color: $c-cultured;
  }

  @include e('title') {
    @include relative($z-index: banner__title);

    transform: scale(1);
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: inline-block;
    font-size: 4.75rem;
    opacity: 1;
    padding: 2rem 2.5rem;
    margin-bottom: 2rem;

    &:before, &:after {
      @include pseudo();
      transition: width 0.85s ease;
      transition-delay: 0.25s;
      background: $c-cultured;
      height: 2px;
      width: 100%;
    }

    &:before {
      @include absolute($top: 0, $left: 0);
    }

    &:after {
      @include absolute($right: 0, $bottom: 0);
    }

    body.is-preload & {
      transform: scale(0.95);
      opacity: 0;

      &:before, &:after {
        width: 0;
      }
    }
  }


  @include e('description') {
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0.225rem;

    opacity: 1;
    transition: opacity 0.50s ease;
    transition-delay: 1s;

    a {
      color: inherit;
    }

    body.is-preload & {
      opacity: 0;
    }
  }

  @include e('find-more') {
    &,
    &:link,
    &:visited,
    &:active,
    &:focus {
      @include absolute($bottom: 5%, $left: 50%, $z-index: banner__find-more);
      @include flex($main: flex-end, $direction: column);

      transform: translate(-50%, 0);
      transition: all 0.75s ease-in-out;
      transition-delay: 1s;
      color: inherit;
      font-size: 1.8rem;
      letter-spacing: 0.3rem;
      opacity: 1;
      text-align: center;
      text-transform: uppercase;
      width: 20rem;
      height: 20rem;
      color: $c-cultured;
      text-decoration: none;
  
      body.is-preload & {
        opacity: 0;
        transform: translate(-50%, 100%);
      }
    }

    svg {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
      margin-top: 5rem
    }
  }

  &:after {
    @include absolute($top: 0, $left: 0);
    @include pseudo();

    pointer-events: none;
    transition: opacity 3s ease-in-out;
    transition-delay: 1.25s;
    background: #2e3842;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
