@import "../../abstracts/abstracts.scss";

$cmp: "banner";

.#{$cmp} {
  &__base,
  &__container,
  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__base {
  cursor: default;
  height: 100vh;
  min-height: 35rem;
  overflow: hidden;
  position: relative;
  text-align: center;

    &:after {
      body.is-preload & {
        opacity: 1;
      }
    }
  }

  &__heading {
    width:fit-content;
    color: $c-cultured;
  }

  &__title {
    transform: scale(1);
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: inline-block;
    font-size: 4.75rem;
    opacity: 1;
    padding: 2rem 2.5rem;
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;

    &:before, &:after {
      transition: width 0.85s ease;
      transition-delay: 0.25s;
      background: $c-cultured;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      width: 100%;
    }

    &:before {
      top: 0;
      left: 0;
    }

    &:after {
      bottom: 0;
      right: 0;
    }

    body.is-preload & {
      transform: scale(0.95);
      opacity: 0;

      &:before, &:after {
        width: 0;
      }
    }
  }


  &__description {
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0.225rem;

    opacity: 1;
    transition: opacity 0.50s ease;
    transition-delay: 1s;

    a {
      color: inherit;
    }

    body.is-preload & {
      opacity: 0;
    }
  }

  &__find-more {
    &,
    &:link,
    &:visited,
    &:active,
    &:focus {
      transition: all 0.75s ease-in-out;
      transition-delay: 1s;
      bottom: 5%;
      color: inherit;
      font-size: 1.8rem;
      left: 50%;
      letter-spacing: 0.3rem;
      opacity: 1;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      width: 20rem;
      height: 20rem;
      z-index: 1;
      transform: translate(-50%, 0);
      color: $c-cultured;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
      text-decoration: none;
  
      body.is-preload & {
        opacity: 0;
        transform: translate(-50%, 100%);
      }
    }

    svg {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
      margin-top: 5rem
    }
  }

  &:after {
    pointer-events: none;
    transition: opacity 3s ease-in-out;
    transition-delay: 1.25s;
    content: '';
    background: #2e3842;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}
