@import "../../abstracts/abstracts.scss";

$block: "footer";

.#{$block} {
  @include e("base") {
    background-color: var(--overlaid-background-color);
    overflow: hidden;
    width: 100vw;
    padding: 3rem;
  }

  @include e("title") {
    margin: $basesize * 3;
  }

  @include e("copyright") {
    text-align: center;
    color: $c-cultured;
    font-size: 1.2rem;
    margin-top: 3rem;

    a {
      color: $c-cultured;
      text-decoration: none;

      @include on-event {
        color: $c-cultured;
        text-decoration: none;
      }
    }
  }
}
