@import '../../abstracts/abstracts.scss';

$block: 'footer';

.#{$block} {
  @include e('base') {
    background-color: var(--overlaid-background-color);
    overflow: hidden;
    box-shadow: $box-shadow-dark;
    width: 100vw;
  }

  @include e('title') {
    margin: $basesize * 3;
  }

  @include e('copyright') {
    text-align: right;
    color: $c-davys-grey;
    margin-bottom: $basesize;
    font-size: 1.2rem;

    a {
      &,
      &:link,
      &:visited,
      &:active,
      &:focus {
        color: $c-eerie-black;
        text-decoration: none;
      }
  
      &:hover {
        text-decoration: none;
      }
    }
  }
}